@import url(http://fonts.googleapis.com/css?family=Open+Sans|300+400+400i+700+700i);
/****************************************** BEGIN STYLES */
#webkite-results {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  border-radius: 0.625rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 43.750rem;
  margin: 0 auto;
  padding: 1.25rem;
  font-family: "Open Sans"; }
  #webkite-results a {
    color: #1b9cd2;
    text-decoration: none; }
    #webkite-results a:hover {
      color: #0073a7; }

/* TYPOGRAPHY */
h1, h2 {
  margin: 0; }

h1 {
  font: 300 2.25rem/1 "Open Sans";
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 1.25rem; }

h2 {
  font: 700 1.5rem/1 "Open Sans";
  color: rgba(0, 0, 0, 0.7); }

p, li {
  color: rgba(0, 0, 0, 0.6); }

/******************************************** NAVIGATIONALS */
.webkite-results-header, .webkite-results-footer {
  text-align: justify;
  position: relative; }
  .webkite-results-header h1, .webkite-results-footer h1 {
    text-align: left; }
  .webkite-results-header:after, .webkite-results-footer:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    white-space: pre-line; }
  .webkite-results-header .webkite-title-area, .webkite-results-header .webkite-sort-area, .webkite-results-header .webkite-filter-area, .webkite-results-header .webkite-branding-area, .webkite-results-header .webkite-pagination-area, .webkite-results-footer .webkite-title-area, .webkite-results-footer .webkite-sort-area, .webkite-results-footer .webkite-filter-area, .webkite-results-footer .webkite-branding-area, .webkite-results-footer .webkite-pagination-area {
    display: inline-block;
    vertical-align: middle; }

.webkite-results-footer {
  height: 2.813rem; }

/************************************************* SORTS */
select.webkite-sort {
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  border-radius: 0.188rem;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  font-weight: 700;
  height: 1.938rem;
  padding: 0.3125rem;
  /* width: 4.063rem; */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ''; }

div.webkite-sort {
  position: relative;
  z-index: 2; }
  div.webkite-sort:after {
    content: "\25BE";
    color: rgba(0, 0, 0, 0.6);
    display: block;
    opacity: .5;
    position: absolute;
    right: 0.625rem;
    top: 20%;
    pointer-events: none; }

/************************************************ FILTERS */
.webkite-filter-area {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-left: 6.5rem;
  margin-left: -6.5rem; }

.webkite-filter-area .label, .current-filters {
  display: inline-block; }

.webkite-applied-filters {
  position: relative; }

.current-filters {
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  border-radius: 0.188rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 1.938rem;
  padding: 0.3125rem;
  padding-left: 4.5rem;
  width: 100%;
  text-align: end;
  /* and & or */ }
  .current-filters span {
    color: rgba(0, 0, 0, 0.6);
    float: left;
    font-size: .875rem;
    line-height: 1.2rem;
    margin: 0 0.3125rem; }

.webkite-filter-area .label > a {
  -webkit-border-radius: 0.188rem 0 0 0.188rem;
  -moz-border-radius: 0.188rem 0 0 0.188rem;
  -ms-border-radius: 0.188rem 0 0 0.188rem;
  -o-border-radius: 0.188rem 0 0 0.188rem;
  border-radius: 0.188rem 0 0 0.188rem;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.3125rem;
  position: absolute;
  z-index: 2;
  left: 0; }

.webkite-filter-area .label b, .webkite-filter-area .label .webkite-block ul li a, .webkite-block ul li .webkite-filter-area .label a, .webkite-filter-area .label .webkite-block ul li span, .webkite-block ul li .webkite-filter-area .label span {
  font-size: .8rem;
  opacity: .5; }

/* tokens */
#webkite-results a.webkite-remove-filter {
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  border-radius: 0.188rem;
  color: white;
  float: left;
  font-size: 0.875rem;
  line-height: 1rem;
  padding: 0.0625rem 0.3125rem; }
  #webkite-results a.webkite-remove-filter:hover {
    text-decoration: line-through; }

.filter-group-0 a.webkite-remove-filter {
  background: #1b9cd2; }

.filter-group-1 a.webkite-remove-filter {
  background: #39a17c; }

.filter-group-2 a.webkite-remove-filter {
  background: #a8936f; }

.filter-group-3 a.webkite-remove-filter {
  background: #e6af52; }

.filter-group-4 a.webkite-remove-filter {
  background: #6f7ca8; }

/* clear everything */
#webkite-results a.webkite-clear-filters {
  background: #1b9cd2;
  color: white;
  font-size: .5rem;
  font-weight: 700;
  line-height: 1.2rem;
  vertical-align: text-top;
  padding: 0 0.3125rem 0.10417rem 0.3125rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/**************************************** FILTER DROPDOWN */
.filter-menu {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  background: white;
  font-size: .875rem;
  padding: 0.625rem 0;
  position: absolute;
  z-index: 3; }

.filter-menu li {
  list-style-type: none;
  position: relative; }

#webkite-results .filter-menu li a {
  display: block;
  padding: 0 0.625rem; }
  #webkite-results .filter-menu li a:hover {
    background: #1b9cd2;
    color: white; }

.filter-menu-child {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  display: none;
  position: absolute;
  background: white;
  padding: 0.625rem 0;
  left: 100%;
  top: 0; }

.filter-menu li:hover .filter-menu-child {
  display: block; }

/********************************************* PAGINATION */
.webkite-results-paginator {
  font-size: 1rem; }
  .webkite-results-paginator a, .webkite-results-paginator p {
    display: inline; }
  .webkite-results-paginator a {
    font-size: 1.2rem;
    line-height: 0; }

/* page input */
input.webkite-page-input {
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  border-radius: 0.188rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.3125rem;
  max-width: 1.5rem;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.6); }

/* remove arrows */
.webkite-page-input::-webkit-outer-spin-button,
.webkite-page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/********************************************** BLOCKS */
.webkite-block {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .webkite-block:first-child {
    padding-right: 1.25rem; }
  .webkite-block ul {
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0; }
    .webkite-block ul li {
      list-style-type: none;
      text-align: justify;
      padding-bottom: 0.625rem; }
      .webkite-block ul li b, .webkite-block ul li a, .webkite-block ul li span {
        display: inline-block;
        text-align: left;
        width: 39%;
        vertical-align: text-top; }
      .webkite-block ul li a, .webkite-block ul li span {
        width: 59%; }
  .webkite-block img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.625rem;
    -webkit-border-radius: 0.188rem;
    -moz-border-radius: 0.188rem;
    -ms-border-radius: 0.188rem;
    -o-border-radius: 0.188rem;
    border-radius: 0.188rem; }

.webkite-block.sixty {
  width: 59%; }

.webkite-block.forty {
  width: 39%; }

/************************************ LANDSCAPE RESULTS */
.webkite-result {
  text-align: justify;
  position: relative; }
  .webkite-result:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    white-space: pre-line; }

#webkite-results a.more-button, #webkite-results a.less-button {
  background: #1b9cd2;
  color: white;
  display: inline-block;
  padding: 0.3125rem 0.625rem;
  margin-bottom: 1.25rem;
  -webkit-border-radius: 0.188rem;
  -moz-border-radius: 0.188rem;
  -ms-border-radius: 0.188rem;
  -o-border-radius: 0.188rem;
  border-radius: 0.188rem; }
  #webkite-results a.more-button:hover, #webkite-results a.less-button:hover {
    background: #0073a7; }
#webkite-results a.less-button {
  background: rgba(0, 0, 0, 0.6); }
  #webkite-results a.less-button:hover {
    background: rgba(0, 0, 0, 0.6); }

.webkite-result-footer {
  clear: both;
  display: block;
  padding-top: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: right; }

/************************************** ELEMENT QUERIES */
#webkite-results.xs .webkite-block, #webkite-results.xs .webkite-title-area, #webkite-results.xs .webkite-branding-area, #webkite-results.xs .webkite-pagination-area {
  width: 100%;
  padding-right: 0; }
#webkite-results.xs .webkite-filter-area, #webkite-results.xs .webkite-sort-area, #webkite-results.xs select.webkite-sort {
  width: 100%; }
#webkite-results.xs .webkite-filter-area {
  margin-top: 1.25rem;
  margin-left: 0;
  padding-left: 0; }
#webkite-results.xs .webkite-block ul li b, #webkite-results.xs .webkite-block ul li a, #webkite-results.xs .webkite-block ul li span, #webkite-results.xs .webkite-block ul li a, #webkite-results.xs .webkite-block ul li span {
  width: 100%; }
#webkite-results.xs .webkite-title-area, #webkite-results.xs .webkite-branding-area, #webkite-results.xs .webkite-pagination-area {
  text-align: center; }
#webkite-results.xs .webkite-branding-area {
  padding-bottom: 1.25rem; }
#webkite-results.xs .webkite-results-footer {
  height: 6.876rem; }

#webkite-results.sm .webkite-filter-area, #webkite-results.sm .webkite-sort-area, #webkite-results.sm select.webkite-sort {
  width: 100%; }
#webkite-results.sm .webkite-filter-area {
  margin-top: 1.25rem;
  margin-left: 0;
  padding-left: 0; }
#webkite-results.sm .webkite-block ul li b, #webkite-results.sm .webkite-block ul li a, #webkite-results.sm .webkite-block ul li span, #webkite-results.sm .webkite-block ul li a, #webkite-results.sm .webkite-block ul li span {
  width: 100%; }
