@import 'webfonts';

@import 'light-palette';

$shadowOpacity: rgba(0,0,0,.2);
$linkColor: #1b9cd2;
$linkHover: #0073a7;

//TOKEN COLORS
$tokenFirst: $linkColor;
$tokenSecond: #39a17c;
$tokenThird: #a8936f;
$tokenFourth: #e6af52;
$tokenFifth: #6f7ca8;

//SIZES
$mainGutter: 1.25em;

//MIXINS
@mixin roundedUp($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  }
@mixin boxedUp{
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
@mixin shadowHere{
  -webkit-box-shadow: 0 .125em .313em $shadowOpacity;
  -moz-box-shadow: 0 .125em .313em $shadowOpacity;
  box-shadow: 0 .125em .313em $shadowOpacity;
  }
@mixin hyphenGreat{
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  }
@mixin breakThat{
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;margin: 0;padding: 0; white-space: pre-line;
    }
  }
  
@include web-font(("Open+Sans") ("300,400,400i,700,700i"));

/* RESET */
#webkite-results{
  @import 'reset';
  }

/****************************************** BEGIN STYLES */
#webkite-results{
  background: $backgroundColor;
  border: 1px solid $lighterOpacity;
  @include roundedUp(.625em);
  @include boxedUp;
  max-width: 43.750em;
  margin: 0 auto;
  padding: $mainGutter;
  font-family:"Open Sans";
  font-size: 16px;
  a{color:$linkColor;
      text-decoration: none; 
    &:hover{color: $linkHover;}
    }
  }
  
/* TYPOGRAPHY */
#webkite-results{
  h1, h2{
    margin: 0;
    }
  h2{
    @include hyphenGreat;
    display: inline-block;
    font: 700 1.5em/1 "Open Sans";
    color: $medOpacity;
    }
  p, li{
    color: $lightOpacity;
    }
  }

/******************************************** NAVIGATIONALS */
#webkite-results{

  .webkite-results-header, .webkite-results-footer{
    text-align: justify;
    position: relative;
    line-height: 1;
    @include breakThat;
    .webkite-title-area, .webkite-sort-area, .webkite-filter-area, .webkite-branding-area, .webkite-pagination-area{
      display: inline-block;
      vertical-align:top;
      }
    /* light theme only */
    .webkite-branding-area a {
      background: url("branding-light.svg") center top no-repeat;
      display: inline-block;
      height: 2.813em;
      width: 8.5em;
      }
    }
  .webkite-results-footer{
    height: 2.813em;
    }
    
  } 
/************************************************* SORTS */
#webkite-results{

  .webkite-sort-area > a.webkite-toggle{
    @include boxedUp;
    @include roundedUp(.188em);
    background: $lightestOpacity;
    color: $lightOpacity;
    display: inline-block;
    border: 1px solid $lighterOpacity;
    font: 700 .875em/1.3 "Open Sans";
    margin: 0;
    padding: $mainGutter/4 $mainGutter/2;
    height: 2em;
    i{
      background: url("angle-light.png") center center no-repeat;
      display: inline-block;
      height: 10px;
      margin-left: $mainGutter/2;
      pointer-events: none;
      width: 10px;
      }
    }
  .webkite-sort-area{
    position: relative;
    z-index: 3;
    }
  
  }
/********************************************* SORT MENU */
#webkite-results{

  .sort-menu{
    margin: 0;
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: .875em;
    padding: $mainGutter/2 0;
    position: absolute;
    z-index: 4;
    top: $mainGutter/2;
    left: $mainGutter/2;
    }
  .sort-menu li{
    list-style-type: none;
    position: relative;
    }
  .sort-menu li a{
    display: block;
    padding: $mainGutter/8 $mainGutter/2;
    white-space: pre;
    &:hover{
      background: $linkColor;
      color: white;
      } 
    }
  
  }


/************************************************ FILTERS */
#webkite-results{

  .webkite-filter-area{
    @include boxedUp;
    width: 100%;
    position: relative;
    }
  .webkite-sort-area + .webkite-filter-area{
    padding-left: 4.5em;
    margin-left: -4.5em;
    }
  .webkite-applied-filters{
    position: relative; 
    }
  .current-filters{
    @include roundedUp(.188em);
    @include boxedUp;
    background: white;
    border: 1px solid $lighterOpacity;
    display: inline-block;
    height: 1.75em;
    padding: $mainGutter/4;
    padding-left: 5.2em;
    width: 100%;
    text-align: right;
    /* and & or */
    span{
      color: $lightOpacity;
      float: left;
      font-size: .875em;
      line-height: 1.2em;
      margin: 0 $mainGutter/4;
      }
    }
  .webkite-applied-filters > a{
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: 0;
    @include boxedUp;
    @include roundedUp(.188em 0 0 .188em);
    background: $lightestOpacity;
    border: 1px solid $lightestOpacity;
    border-right: 1px solid $lighterOpacity;
    color: $lightOpacity;
    font-size: 0.875em;
    font-weight: 700;
    line-height: 2em;
    padding: 0 $mainGutter/2;
    height: 2em;
    i{
      background: url("plus-light.png") no-repeat;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-left: $mainGutter/2;
      pointer-events: none;
      }
    } 
  /* tokens */
  a.webkite-remove-filter{
    @include roundedUp (.188em);
    color: white;
    float:left;
    font-size: 0.875em;
    line-height: 1em;
    overflow: hidden;
    max-width: 6.25em;
    padding: $mainGutter/20 $mainGutter/4;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    &:hover{text-decoration: line-through;}
    }
  .filter-group-0 a.webkite-remove-filter{
    background: $tokenFirst;
    }
  .filter-group-1 a.webkite-remove-filter{
    background: $tokenSecond;
    }
  .filter-group-2 a.webkite-remove-filter{
    background: $tokenThird;
    }
  .filter-group-3 a.webkite-remove-filter{
    background: $tokenFourth;
    }
  .filter-group-4 a.webkite-remove-filter{
    background: $tokenFifth;
    }
  /* clear everything */ 
  a.webkite-clear-filters{
    background: url("clear-all-icon.png") center top no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-top: -1px;
    &:active{
      background-position-y: -18px;
      }
    }
  
  
  }
/**************************************** FILTER DROPDOWN */
#webkite-results{

  .filter-menu{
    margin: 0;
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: .875em;
    padding: $mainGutter/2 0;
    position: absolute;
    z-index: 3;
    top: $mainGutter/2;
    left: $mainGutter/2;
    }
  .filter-menu li{
    list-style-type: none;
    position: relative;
    }
  .filter-menu li .webkite-link, .filter-menu li a{
    color: $linkColor;
    display: block;
    padding: $mainGutter/8 $mainGutter/2;
    white-space: pre;
    &:hover{
      background: $linkColor;
      color: white;
      }
    }
  .filter-menu > li > .webkite-link{
      padding-right: $mainGutter;
      position: relative;
      &:after{
        content: "\203A";
        color: $lightOpacity;
        opacity: .5;
        position: absolute;
        right: $mainGutter/3;
        }
      }
  .filter-menu-child{
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    display: none; 
    position: absolute; 
    background: white;
    padding: $mainGutter/2 0;
    left: 100%;
    top: 0;
    margin: 0;
    }
  .filter-menu li:hover .filter-menu-child{
    display: block;
    }
  
  }
/********************************************* PAGINATION */
#webkite-results{

  .webkite-results-paginator{
    font-size: 1em;
    a, p{display: inline;}
    em{font-style: italic;}
    a{font-size: 1.2em; line-height: 0;}
    }
  .first-result-page, .previous-result-page{
    padding-right: $mainGutter/2;
    }
  .next-result-page, .last-result-page{
    padding-left: $mainGutter/2;
    }
  /* page input */
  input.webkite-page-input{
    @include roundedUp(.188em);
    border: 1px solid $lighterOpacity;
    padding: $mainGutter/4;
    max-width: 1.5em; 
    font-size: .9em;
    color: $lightOpacity;
    }
  /* remove arrows */
  .webkite-page-input::-webkit-outer-spin-button,
  .webkite-page-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    }
    
}
  
/********************************************** BLOCKS */
#webkite-results{

  .webkite-block{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    @include boxedUp;
    &:first-child{padding-right: $mainGutter;}
    ul{
      margin: 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      li{
        list-style-type: none;
        text-align: justify;
        padding-bottom: $mainGutter/2;
        b{display: inline-block; text-align: left; width: 39%; vertical-align: text-top;font-weight: 700;}
        span.facet-values{@extend b; width:59%; font-weight: 400;}
        .city, .state{display: inline;}
        .city + .state:before{content: ", ";}
        }  
      }
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: $mainGutter/2;
      @include roundedUp(0.188em);
      }
    }
  .webkite-block.sixty{
    width: 59%;
    }
  .webkite-block.forty{
   width: 39%;
    }
  
  }
  
/************************************ LANDSCAPE RESULTS */
#webkite-results{
  
  .webkite-result{
    text-align: justify;
    position: relative;
    @include breakThat;
    }
  a.more-button, a.less-button{
    @include boxedUp;
    @include roundedUp(.188em);
    color: white;
    display: inline-block;
    float: right;
    font: 400 .75em/1 "Open Sans";
    padding: $mainGutter/4 $mainGutter/2;
    margin-top: $mainGutter;
    text-align: center;
    width: 4.375em;
    }
  a.more-button{
    background: $linkColor;
    &:hover{background: $linkHover;}
    }
  a.less-button{
    background: $lightOpacity;
    &:hover{background: $lightOpacity*2;}
    }
  .webkite-result-footer{
    clear: both;
    display: block;
    padding-top: $mainGutter;
    border-bottom: 1px solid $lightestOpacity;
    text-align: right;
    }
  
  }
  
/************************************** INLINE FILTERS */
#webkite-results{

  .webkite-block li b{
    position: relative;
    > .webkite-toggle{
      @include boxedUp;
      @include roundedUp(.188em);
      border: 1px solid transparent;
      color: $lightOpacity;
      cursor: pointer;
      display: inline-block;
      font: 700 1em/1.3 "Open Sans";
      margin: 0;
      padding: $mainGutter/4 $mainGutter/4;
      height: 2em;
      margin-left: -$mainGutter/4;
      i{
        background: url("angle-light.png") center center no-repeat;
        display: inline-block;
        height: 10px;
        margin-left: $mainGutter/2;
        pointer-events: none;
        width: 10px;
        }
      &:hover{
        border: 1px solid $lighterOpacity;
        background: $lightestOpacity;
        }
      }
    }
  .webkite-block .inline-filter-menu{
    @include roundedUp(.375em);
    @include shadowHere;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    position: absolute; 
    background: white;
    padding: $mainGutter/2 0;
    top: $mainGutter/2;
    left: $mainGutter/2;
    margin: 0;
    z-index: 2;
    li {
      padding-bottom: 0;
      a{
        color: $linkColor;
        display: block;
        font-size: .875em;
        font-weight: 400;
        max-width: 100%;
        padding: $mainGutter/8 $mainGutter/2;
        white-space: pre;
        &:hover{background: $linkColor;color: white;}
        }
      }
    }
  
}
  
/************************************** ELEMENT QUERIES */
#webkite-results.xs{
  .webkite-block,.webkite-title-area, .webkite-branding-area, .webkite-pagination-area{
    width: 100%;
    padding-right: 0;
    }
  .webkite-filter-area, .webkite-sort-area, .webkite-sort-area > a{
    width: 100%;
    }
  .webkite-sort-area > a.webkite-toggle i{
    float: right; margin-top: $mainGutter/4;
    }
  .sort-menu{width: 95%;}
  .webkite-filter-area{
    margin-top: $mainGutter;
    margin-left: 0;
    padding-left: 0;
    }
  .webkite-block ul li{
    b, a, span{width: 100%;}
    .webkite-toggle{width: auto;}
    }
  .webkite-block .inline-filter-menu li a{
    max-width: 100%;
    width: auto;
    }
  .webkite-title-area, .webkite-branding-area, .webkite-pagination-area{
    text-align: center;
    }
  .webkite-branding-area{
    padding-bottom: $mainGutter; 
    }
  .webkite-results-footer{
    height: 2.813em*2+$mainGutter;
    }
  }
  
#webkite-results.sm{
.webkite-filter-area, .webkite-sort-area, .webkite-sort-area > a{
    width: 100%;
    }
  .webkite-sort-area > a.webkite-toggle i{
    float: right; margin-top: $mainGutter/4;
    }
  .sort-menu{width: 95%;}
  .webkite-filter-area{
    margin-top: $mainGutter;
    margin-left: 0;
    padding-left: 0;
    }
  .webkite-block ul li{
    b, a, span{width: 100%;}
    .webkite-toggle{width: auto;}
    }
  }